$buttonColors: (
  twitter: (#1da1f2, #fff),
  grey: (#35495e, #fff),
  green: (#3b8070, #fff),
  dc: (#1080d0, #fff),
  medium: (hsla(0, 0%, 0%, 0.8), #fff),
  npm: (#cb3837, #fff)
);

.button {
  @apply inline-block py-3 px-8 my-3 mx-2 rounded no-underline;
  transition: color 0s linear, background .15s ease-in;
  &:hover {
    .button-text-wrap {
      transform: translate3d(0, -100%, 0);
      .button-text {
        opacity: 0;
      }
    }
  }
  .button-wrap {
    overflow: hidden;
    position: relative;
    display: block;
    .button-text-wrap {
      backface-visibility: hidden;
      display: block;
      transition: .25s cubic-bezier(.68, -0.55, .27, 1.55);
    }
    .button-text {
      display: block;
      transition: .3s;
    }
    .button-pop {
      backface-visibility: hidden;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: auto;
      display: block;
    }
    .icon {
      transition: none;
    }
  }
}

@each $colorName, $colors in $buttonColors {
  $bg: nth($colors, 1);
  $color: nth($colors, 2);
  .button--#{$colorName} {
    border: 1px solid $bg;
    color: $bg;
    &:hover {
      background: $bg;
      color: $color;
    }
  }
}

