$buttonColors: (
  twitter: (#1da1f2, #fff),
  grey: (#35495e, #fff),
  green: (#3b8070, #fff),
  dc: (#1080d0, #fff),
  medium: (hsla(0, 0%, 0%, 0.8), #fff),
  npm: (#cb3837, #fff)
);

.button {
  @apply inline-block py-3 px-8 my-3 mx-2 rounded no-underline;
  transition: all .15s ease-in;
}

@each $colorName, $colors in $buttonColors {
  $bg: nth($colors, 1);
  $color: nth($colors, 2);
  .button--#{$colorName} {
    border: 1px solid $bg;
    color: $bg;
    &:hover {
      background: $bg;
      color: $color;
    }
  }
}

