@font-face {
  font-family: 'glacialIndifference';
  src: url('glacial_indifference/glacialindifference-bold-webfont.woff2') format('woff2'),
  url('glacial_indifference/glacialindifference-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'glacialIndifference';
  src: url('glacial_indifference/glacialindifference-regular-webfont.woff2') format('woff2'),
  url('glacial_indifference/glacialindifference-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
