.text-inherit {
  color: inherit;
}

.font-glacial {
  font-family: glacialIndifference, sans-serif;
}

.leftColumn {
  @apply w-full pr-3 pl-3;
}

@screen sm {
  .leftColumn {
    @apply w-2/5 pl-0;
  }
}

.rightColumn {
  @apply w-full text-left pl-3 pr-3;
}

@screen sm {
  .rightColumn {
    @apply w-3/5;
  }
}

.leading-content-text {
  text-align: justify;
  @apply text-s text-grey-lighter mb-4 leading-normal tracking-wide;
}
